body{
    background-color: tan;
}

.map{
    width: 50%;
    margin: auto;
}

.map path{
    fill: firebrick;
    stroke: black;
    transition: fill 4s;
    
}

.map :hover{
    fill: black;
    transition: fill .3s;
}
